<link rel="stylesheets" href="reserve.css">

<div class="header">
  <div class="header-logo">
  <a href="/">山上遊園 HOTEL SUMAURA</a>
  </div>
</div>

<div class=body-r>
<div class="about-main">
  <h1>Rooms</h1>
  	<div class="Ocean">
  		<div class="view">▪ Ocean view ▪</div>
      <div style="text-align: center; opacity: 0.9;">
      <img src="/assets/UVEB5524.JPG" width="800" height="480"></div>
  			<p>瀬戸内海を往来する船や夜は明石海峡大橋のライトアップ、神戸市街の夜景がご覧いただけます。</p><p>一日の終わりにゆらめく地平線に沈む夕日を眺めてはいかがでしょうか。</p>
  			<div class="tittle">Domitory</div>
  				<p>定員 8名 ｜一泊 2500yen｜二段ベッド 4台</p>
  				<p>海を臨む大きな窓のある女性専用ドミトリーです。</p><p>頑丈で大きな二段ベッドをご用意していますので、安心しておやすみいただけます。</p>
  				<p>鍵付きロッカー･読書灯･電源コンセント･Wi-Fi･エアコン</p>
  				<div><input class="kuusitu-submit" type="submit"value="空室を見る"></a></div>
  			<div class="tittle">Twin room</div>
  				<p>定員 2名 ｜一泊 7000yen (1人 3500yen)｜シングル 2台</p>
  				<p>光と海の変化を一番楽しめるツインルームです。</p><p>景色を眺めながらゆったりとした時間をお過ごしいただけます。</p>
  				<p>テレビ･冷蔵庫･洗面台･ドライヤー･トイレ･電源コンセント･Wi-Fi･エアコン</p>
  				<div><input class="kuusitu-submit" type="submit"value="空室を見る"></div>
  			<div class="tittle">Suite room</div>
  				<p>定員 2名 ｜一泊 8400yen (1人 4200yen)｜ダブル 1台</p>
  				<p>海の変化を肌で感じられるバルコニー、開放感のある高い天井。</p><p>SUMAURAの洗練された最上級のスイートルームです。</p>
  				<p>テレビ･冷蔵庫･洗面台･ドライヤー･トイレ･バス･バルコニー･電源コンセント･Wi-Fi･エアコン</p>
  				<div><input class="kuusitu-submit" type="submit"value="空室を見る"></div>
 	 </div>

  	<div class="mountain">
  		<div class="view">▪ Mountain view ▪</div>
        <div style="text-align: center; opacity: 0.9;">
        <img src="/assets/SBKO8794.JPG" width="800" height="480"></div>
  			<p>自然豊かな神戸の山々の季節の移ろいがお楽しみいただけます。</p><p>春は桜、夏は新緑、秋は紅葉、冬は積雪がご覧になれます。</p>
  			<div class="tittle">Domitory</div>
  				<p>定員 8名 ｜一泊 2500yen｜二段ベッド 4台</p>
  				<p>山々を臨む大きな窓のある男女混合ドミトリーです。</p><p>頑丈で大きな二段ベッドをご用意していますので、安心しておやすみいただけます。</p>
  				<p>鍵付きロッカー･読書灯･電源コンセント･Wi-Fi･エアコン</p>
  				<div><input class="kuusitu-submit" type="submit"value="空室を見る"></div>
  			<div class="tittle">Twin room</div>
  				<p>定員 2名 ｜一泊 7000yen (1人 3500yen)｜シングル 2台</p>
  				<p>レトロな遊園と自然がご覧になれるツインルームです。</p><p>景色を眺めながらゆったりとした時間をお過ごしいただけます。</p>
  				<p>テレビ･冷蔵庫･洗面台･ドライヤー･トイレ･電源コンセント･Wi-Fi･エアコン</p>
  				<div><input class="kuusitu-submit" type="submit"value="空室を見る"></div>
  			<div class="tittle">Suite room</div>
  					<p>定員 2名 ｜一泊 8400yen (1人 4200yen)｜ダブル 1台</p>
  					<p>自然の音を感じられるバルコニー、開放感のある高い天井。</p><p>SUMAURAの洗練された最上級のスイートルームです。</p>
  					<p>テレビ･冷蔵庫･洗面台･ドライヤー･トイレ･バス･バルコニー･電源コンセント･Wi-Fi･エアコン</p>
  					<div><input class="kuusitu-submit" type="submit"value="空室を見る"></div>
  	</div>

  	<div class="information">
  		<div class="view">▪ Information ▪</div>
  			<h3>チェックイン 16:00~23:00/ チェックアウト 10:00</h3>
  		<div class="view">▪ Facility ▪</div>
  			<div class="tittle">-Kitchen-</div>
        <div style="text-align: center; opacity: 0.9;">
        <img src="/assets/BTXY0747.JPG" width="600" height="280"></div>
  				<h3>24時間お使いいただける共有キッチンになります。</h3>
  				<h3>調理道具は一通りございますのでご自由にお使いください。</h3>
  			<div class="tittle">-Shower&Toilet-</div>
        <div style="text-align: center; opacity: 0.9;">
        <img src="/assets/FKZVE4775.JPG" width="600" height="280"></div>
  				<h3>24時間どなたでもお使いいただけます。ハンドタオル･バスタオル･</h3><h3>シャンプー・リンス・ボディソープ・ドライヤー･シェーバー･くしをご用意しております。</h3>
  			<div class="tittle">-Service-</div>
        <div style="text-align: center; opacity: 0.9;">
        <img src="/assets/SUMX9103.JPG" width="600" height="280"></div>
  				<h4>荷物預かり・コインランドリー(1回300yen)・歯ブラシ(100yen)</h3>	
  		
  	</div>
</div>
</div>

<div class="footer">
  <h1>山上遊園温泉 HOTEL SUMAURA</h1>
  <h2>〒654-0076 HOTEL SUMAURA, Sanjo Yuen Onsen, 5-3 Ichinotanicho Suma-ku, Kobe-shi, Hyogo-ken, Japan</h2>
</div>
