<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheets" href="home.css">
    <title>HOTEL SUMAURA</title>
  </head>
  <body>
    <div class="header">
      <div class="header-logo">山上遊園 HOTEL SUMAURA</div> 
      <div class="header-list">
        <ul>
          <li><a href='/reserve' class="btn">Reserve</a></li>
        </ul>
      </div>
    </div>
    
    <div class="main">
      <h1>山上遊園温泉 HOTEL SUMAURA</h1>
      <h2>淡路島と本州を結ぶ明石海峡大橋を望む、</h2><h2>鉢伏山と鉄拐山に佇む雲海の見える温泉旅館 HOTEL SUMAURA</h2><h2>神戸空港から１時間、新神戸駅から30分の</h2><h2>山陽電鉄「須磨浦公園駅」から宿までの小さな旅ははじまります。</h2><h2>ロープウェイ、カーレーター、最後はスリル満点な</h2><h2>リフトに乗って神戸の街並みや目の前に広がる海、</h2><h2>山の谷間を縫って宿を目指します。</h2><h2>播磨と摂津のお国またぎもできますよ。</h2>
      <a href='/reserve' class="btn1">Reserve</a>
    </div>

    <div class="about">
      <h1>ABOUT</h1>
      <h2>HOTEL SUMAURAは神戸の雄大な自然の中で</h2><h2>"童心に返る"をコンセプトにしています。</h2><h2>レトロな山上遊園の遊具やまわる喫茶室。</h2><h2>山上遊園で心躍らせませんか？</h2>
      <a href='/reserve' class="btn1">Reserve</a>
    </div>

    <div class="cafe">
      <h1>まわる喫茶室 コスモス</h1>
      <h2>回転展望台では360度、神戸の街を</h2><h2>ゆっくり見渡しながらお食事ができます。</h2><h2>地産地消、旬の食材を使った自慢の味を</h2><h2>みなさまにご提供いたします。</h2>
      <a href='/reserve' class="btn1">Reserve</a>
    </div>

    <div class="onsen">
      <h1>天然温泉</h1>
      <h2>日本最古の温泉で知られる有馬温泉の</h2><h2>金泉と銀泉の引き湯を贅沢に</h2><h2>源泉掛け流しでお楽しみいただけます。</h2><h2>明石海峡大橋のライトアップ夜景は必見です。</h2>
      <a href='/reserve' class="btn1">Reserve</a>
    </div>

    <div class="room">
      <h1>ROOM</h1>
      <h2>SUMAURAは山の上に位置するため</h2><h2>オーシャンビュー、マウンテンビューから選べます。</h2><h2>ドミトリー、スイートルーム、ファミリールームを</h2><h2>それぞれにご用意しております。</h2><h2></h2>
      <a href='/reserve' class="btn1">Reserve</a>
    </div>

    <div class="access">
      <h1>ACCESS</h1>
      <h2>▪神戸空港からお越しの方▪</h2>
      <h2>ポートアイランド「神戸空港」から「三宮」、阪神電車「神戸三宮」より「須磨浦公園」</h2>

      <h2>▪新幹線でお越しの方▪</h2>
      <h2>市営地下鉄「新神戸」から「板宿」、山陽電鉄「板宿」より「須磨浦公園」</h2>

      <h2>▪電車でお越しの方▪</h2>
      <h2><span>≪大阪方面≫</span>いずれも各線「三宮」にて阪神電車「神戸三宮」へ乗り換え後「須磨浦公園」</h2>
      <h2><span>≪岡山方面≫</span>JR「垂水」にて山陽電鉄「山陽垂水」へ乗り換え後「須磨浦公園」</h2>
      <h2>お車でお越しの方</h2>
      <h2><span>≪大阪方面≫</span>国道高速神戸若宮ランプ出口より、国道２号線を西に約３㎞</h2><h2><span>≪岡山方面≫</span>第二神明須磨ICより南下、千守交差点から西へ約２㎞</h2>
      <h2>須磨浦公園駅前ロータリーに駐車場がございます。</h2>
    </div>

    <div class="contact-form">
      <h1 class="title">CONTACT</h1>
      <p>NAME</p>>
      <input>
      <p for="mail">MAIL</p>
      <input id="mail" type="email" name="mail">
      <p>MESSAGE</p>
      <textarea></textarea>
      <div>
        <input class="contact-submit" type="submit"value="SUBMIT">
      </div>
    </div>

    <div class="footer">
      <h1>山上遊園温泉 HOTEL SUMAURA</h1>
      <h2>〒654-0076 HOTEL SUMAURA, Sanjo Yuen Onsen, 5-3 Ichinotanicho Suma-ku, Kobe-shi, Hyogo-ken, Japan</h2>
    </div>


  </body>
</html>

